CONFIG_SAMA5D2_ROADRUNNER=y
CONFIG_RAM_256MB=y
CONFIG_DDR3=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="mem=256M console=ttyS0,115200 root=/dev/mmcblk0p2 rootfstype=ext4 rw rootwait consoleblank=0"
CONFIG_IMAGE_NAME="zImage"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
# CONFIG_DISABLE_ACT8865_I2C is not set
# CONFIG_LOAD_EEPROM is not set
