CONFIG_SAMA5D27_WLSOM1_EK=y
CONFIG_MCK_BYPASS=y
CONFIG_RAM_256MB=y
CONFIG_LPDDR2=y
CONFIG_SPI_CLK=50000000
CONFIG_QSPI=y
CONFIG_QSPI_BUS1=y
CONFIG_QSPI1_IOSET_2=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_IMG_SIZE="0x000c0000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
