.config
log
log/*
config/at91bootstrap-config/
config/conf
config/conf.o
config/kxgettext.o
config/lex.zconf.c
config/zconf.hash.c
config/zconf.tab.c
config/zconf.tab.o
config/.depend
.config.cmd
.config.old
.auto.deps
build
result
binaries
*~
*.orig
*.o
tags
*.swp
*.pyc
