.config
log
log/*
config/at91bootstrap-config/
.config.cmd
.config.old
.auto.deps
.prepared
build
debug
result
binaries
*~
*.orig
*.o
tags
*.swp
*.pyc
scripts/**/*$py.class
default.config
default.config.old
