CONFIG_SAMA7G5EK=y
CONFIG_CPU_CLK_1000MHZ=y
CONFIG_RAM_512MB=y
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_MCP16502=y
CONFIG_WDTS=y
