CONFIG_SAM9X60EK=y
CONFIG_RAM_256MB=y
CONFIG_NANDFLASH=y
# CONFIG_PMECC_AUTO_DETECT is not set
CONFIG_PMECC_CORRECT_BITS_8=y
# CONFIG_USE_ON_DIE_ECC_SUPPORT is not set
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="mem=256M console=ttyS0,115200 root=/dev/mmcblk0p2 rw rootwait rootfstype=ext4 atmel.pm_modes=standby,ulp0 quiet"
CONFIG_THUMB=y
CONFIG_SCLK_INTRC=y
# CONFIG_LOAD_EEPROM is not set
CONFIG_LOGO=y
CONFIG_LOGO_SCALE="4"
