CONFIG_SAMA5D2_ICP=y
CONFIG_MCK_BYPASS=y
CONFIG_CPU_CLK_498MHZ=y
CONFIG_RAM_512MB=y
CONFIG_DDR3=y
CONFIG_SDCARD=y
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
CONFIG_EEPROM_ON_TWI1=y
# CONFIG_AUTOCONFIG_TWI_BUS is not set
