CONFIG_SAMA5D3_LINEA=y
CONFIG_CPU_CLK_528MHZ=y
CONFIG_LPDDR1=y
CONFIG_NANDFLASH=y
# CONFIG_PMECC_AUTO_DETECT is not set
CONFIG_PMECC_CORRECT_BITS_4=y
CONFIG_DEBUG=y
# CONFIG_DISABLE_WATCHDOG is not set
CONFIG_SCLK=y
# CONFIG_LOAD_ONE_WIRE is not set
