CONFIG_SAM9X60_SDR_SIP_EB=y
CONFIG_RAM_8MB=y
CONFIG_SDRAM_16BIT=y
CONFIG_NANDFLASH=y
# CONFIG_PMECC_AUTO_DETECT is not set
CONFIG_PMECC_CORRECT_BITS_8=y
CONFIG_IMG_SIZE="0x000c0000"
CONFIG_DEBUG=y
CONFIG_THUMB=y
