CONFIG_SAMA5D4_XPLAINED=y
CONFIG_CPU_CLK_600MHZ=y
CONFIG_RAM_512MB=y
CONFIG_NANDFLASH=y
CONFIG_DEBUG=y
CONFIG_SCLK=y
# CONFIG_ENTER_NWD is not set
CONFIG_PM_EXTERNAL_DEVICES=y
CONFIG_MAC0_PHY=y
CONFIG_HDMI=y
CONFIG_ACT8865=y
CONFIG_PMIC_ON_TWI3=y
CONFIG_LOAD_EEPROM=y
