CONFIG_SAMA5D27_SOM1_EK=y
CONFIG_RAM_128MB=y
CONFIG_SPI_CLK=66000000
CONFIG_QSPI=y
CONFIG_QSPI_BUS1=y
CONFIG_QSPI1_IOSET_2=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_JUMP_ADDR="0x23f00000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
