CONFIG_SAMA5D27_SOM1_EK=y
CONFIG_RAM_128MB=y
CONFIG_SPI_CLK=66000000
CONFIG_QSPI=y
CONFIG_QSPI_BUS1=y
CONFIG_QSPI1_IOSET_2=y
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_IMG_ADDRESS="0xe0000"
CONFIG_OF_OFFSET="0xc0000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
