CONFIG_PICOSAM9G45=y
CONFIG_SDCARD=y
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="mem=128M@0x20000000 mem=128M@0x70000000 console=ttyS0,115200 root=/dev/mmcblk0p2 rootdelay=2"
# CONFIG_OF_LIBFDT is not set
CONFIG_DEBUG=y
CONFIG_THUMB=y
CONFIG_SCLK=y
CONFIG_RAM_128MB=y
CONFIG_OVERRIDE_MACH_TYPE=y
CONFIG_CUSTOM_MACH_TYPE="3838"
CONFIG_MEM_BANK="0x70000000"
CONFIG_MEM_BANK2="0x20000000"
CONFIG_JUMP_ADDR="0x72000000"
