CONFIG_SAMA5D4EK=y
CONFIG_CPU_CLK_528MHZ=y
CONFIG_BUS_SPEED_176MHZ=y
CONFIG_RAM_512MB=y
CONFIG_DEBUG=y
CONFIG_SCLK=y
# CONFIG_ENTER_NWD is not set
CONFIG_PM_EXTERNAL_DEVICES=y
CONFIG_MAC0_PHY=y
CONFIG_MAC1_PHY=y
CONFIG_HDMI=y
CONFIG_WM8904=y
CONFIG_ACT8865=y
CONFIG_LOAD_ONE_WIRE=y
