CONFIG_SAMA5D4EK=y
CONFIG_CPU_CLK_528MHZ=y
CONFIG_BUS_SPEED_176MHZ=y
CONFIG_RAM_512MB=y
CONFIG_SDCARD=y
CONFIG_DEBUG=y
CONFIG_SCLK=y
# CONFIG_ENTER_NWD is not set
CONFIG_PM_EXTERNAL_DEVICES=y
CONFIG_ACT8865=y
