# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7D65=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K128M16JT_125=y
CONFIG_DDR_2_GBIT=y
CONFIG_MEM_CLOCK_533=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_JUMP_ADDR="0x66f00000"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_PMIC_ON_TWI=0
CONFIG_VOLTAGE_OUT4=1150
CONFIG_BOARD_QUIRK_OURASI_DDR3_EB=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOA=y
CONFIG_LED_R_PIN=19
CONFIG_LED_G_ON_PIOA=y
CONFIG_LED_G_PIN=20
CONFIG_LED_B_ON_PIOA=y
CONFIG_LED_B_PIN=21
CONFIG_FLEXCOM5=y
CONFIG_FLEXCOM5_IOSET=1
CONFIG_WDTS=y

