# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAM9X60=y
CONFIG_SDCARD=y
CONFIG_DEBUG=y
CONFIG_THUMB=y
CONFIG_CRYSTAL_24_000MHZ=y
CONFIG_DDRC=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W971GG6SB=y
CONFIG_BOARD_QUIRK_SAM9X60_EB=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOB=y
CONFIG_LED_R_PIN=11
CONFIG_LED_G_ON_PIOB=y
CONFIG_LED_G_PIN=12
CONFIG_LED_B_ON_PIOB=y
CONFIG_LED_B_PIN=13
