# Copyright (C) 2023 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAM9X7=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6NB12I=y
CONFIG_SDCARD=y
CONFIG_BOARD_QUIRK_SAM9X75_CURIOSITY=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOC=y
CONFIG_LED_R_PIN=19
CONFIG_LED_G_ON_PIOC=y
CONFIG_LED_G_PIN=21
CONFIG_LED_B_ON_PIOC=y
CONFIG_LED_B_PIN=20
