# Copyright (C) 2022 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT
CONFIG_SAM9X7=y
CONFIG_SDCARD=y
CONFIG_SDHC0=y
CONFIG_DEBUG=y
CONFIG_THUMB=y
CONFIG_CRYSTAL_24_000MHZ=y
CONFIG_DDRC=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K128M16=y
CONFIG_LOAD_HW_INFO=y
CONFIG_LOAD_EEPROM=y
CONFIG_EEPROM_ADDR=0x50
CONFIG_FLEXCOM10=y
CONFIG_FLEXCOM10_IOSET=1
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_PMIC_ON_TWI=0
CONFIG_VOLTAGE_LDO2=1800
CONFIG_VOLTAGE_OUT4=1200
CONFIG_BOARD_QUIRK_SAM9X75_EB=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOC=y
CONFIG_LED_R_PIN=19
CONFIG_LED_G_ON_PIOC=y
CONFIG_LED_G_PIN=21
CONFIG_LED_B_ON_PIOC=y
CONFIG_LED_B_PIN=20
