CONFIG_SAM9X60=y
CONFIG_DEBUG=y
CONFIG_LOAD_HW_INFO=y
CONFIG_DDRC=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W971GG6SB=y
CONFIG_NANDFLASH=y
# CONFIG_PMECC_AUTO_DETECT is not set
CONFIG_PMECC_PAGESIZE_4096=y
CONFIG_PMECC_OOB_256=y
CONFIG_PMECC_CORRECT_BITS_8=y
CONFIG_NAND_TIMING_MODE=y
CONFIG_IMG_SIZE="0x000c0000"
CONFIG_THUMB=y
CONFIG_BOARD_QUIRK_SAM9X60_CURIOSITY=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOD=y
CONFIG_LED_R_PIN=17
CONFIG_LED_G_ON_PIOD=y
CONFIG_LED_G_PIN=19
CONFIG_LED_B_ON_PIOD=y
CONFIG_LED_B_PIN=21
CONFIG_LOAD_EEPROM=y
CONFIG_EEPROM_ADDR=0x53
