# Copyright (C) 2021 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAM9X60=y
CONFIG_DEBUG=y
CONFIG_LOAD_HW_INFO=y
CONFIG_DDRC=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W971GG6SB=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_THUMB=y
CONFIG_BOARD_QUIRK_SAM9X60_CURIOSITY=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOD=y
CONFIG_LED_R_PIN=17
CONFIG_LED_G_ON_PIOD=y
CONFIG_LED_G_PIN=19
CONFIG_LED_B_ON_PIOD=y
CONFIG_LED_B_PIN=21
CONFIG_LOAD_EEPROM=y
CONFIG_EEPROM_ADDR=0x53
