# Copyright (C) 2023 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_INIT_AND_STOP=y
CONFIG_CRYSTAL_24_000MHZ=y
CONFIG_CONSOLE_INDEX=0
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_AS4C128M32MD2A=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOA=y
CONFIG_LED_R_PIN=7
CONFIG_LED_G_ON_PIOA=y
CONFIG_LED_G_PIN=8
CONFIG_LED_B_ON_PIOA=y
CONFIG_LED_B_PIN=9
