# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_AS4C256M16D3LC_12BCNTR=y
CONFIG_MEM_CLOCK_533=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_LOAD_OPTEE=y
CONFIG_OPTEE_JUMP_ADDR=0x60000000
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_BOARD_QUIRK_SAMA7G5_EK=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOB=y
CONFIG_LED_R_PIN=8
CONFIG_LED_G_ON_PIOA=y
CONFIG_LED_G_PIN=13
CONFIG_LED_B_ON_PIOD=y
CONFIG_LED_B_PIN=20
CONFIG_FLEXCOM1=y
CONFIG_FLEXCOM1_IOSET=4
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT1=3300
CONFIG_VOLTAGE_OUT2=1350
CONFIG_VOLTAGE_OUT3=1150
CONFIG_VOLTAGE_OUT4=1150
CONFIG_VOLTAGE_LDO1=1800
CONFIG_VOLTAGE_LDO2=1800
CONFIG_WDTS=y
