CONFIG_SAMA5D2=y
CONFIG_CRYSTAL_12_000MHZ=y
CONFIG_BUS_SPEED_166MHZ=y
CONFIG_MCK_BYPASS=y
CONFIG_CONSOLE_INDEX=0
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6MB=y
CONFIG_QSPI=y
CONFIG_QSPI_BUS=1
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
CONFIG_TWI1=y
CONFIG_TWI1_IOSET=3
