# Copyright (C) 2021 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_AS4C256M16D3LC_12BCNTR=y
CONFIG_MEM_CLOCK_533=y
CONFIG_SPI_CLK=133333334
CONFIG_AT91_QSPI_OCTAL=y
CONFIG_QSPI_4B_OPCODES=y
CONFIG_QSPI_OCTAL_IO=y
CONFIG_QSPI_DTR_ENABLE=y
CONFIG_QSPI_DMA_SUPPORT=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_IMG_SIZE="0x000c0000"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_BACKUP_MODE=y
CONFIG_SHDWC=y
CONFIG_FAST_BOOT=y
CONFIG_FASTBOOT_MEM_MAP_ADDRESS=0xC0000000
CONFIG_FASTBOOT_MAX_NB_MEM_MAP=0x20000
CONFIG_FASTBOOT_SIZEOF_PAGE_STRUCT=0x20
CONFIG_FASTBOOT_OFFSET_OF_PAGETYPE=0x18
CONFIG_FASTBOOT_OFFSET_OF_PRIVATE=0x14
CONFIG_FASTBOOT_IMG_ADDRESS=0x00800000
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOB=y
CONFIG_LED_R_PIN=8
CONFIG_LED_G_ON_PIOA=y
CONFIG_LED_G_PIN=13
CONFIG_LED_B_ON_PIOD=y
CONFIG_LED_B_PIN=20
CONFIG_FLEXCOM1=y
CONFIG_FLEXCOM1_IOSET=4
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT1=3300
CONFIG_VOLTAGE_OUT2=1350
CONFIG_VOLTAGE_OUT3=1150
CONFIG_VOLTAGE_OUT4=1150
CONFIG_VOLTAGE_LDO1=1800
CONFIG_VOLTAGE_LDO2=1800
CONFIG_WDTS=y
