# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA5D2=y
CONFIG_CRYSTAL_24_000MHZ=y
CONFIG_CONSOLE_INDEX=0
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_AD220032D=y
CONFIG_SPI_CLK=50000000
CONFIG_QSPI=y
CONFIG_QSPI_BUS=1
CONFIG_QSPI_IOSET=2
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_IMG_SIZE="0x000c0000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOA=y
CONFIG_LED_R_PIN=6
CONFIG_LED_G_ON_PIOA=y
CONFIG_LED_G_PIN=7
CONFIG_LED_B_ON_PIOA=y
CONFIG_LED_B_PIN=8
