# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA5D4=y
CONFIG_CRYSTAL_12_000MHZ=y
CONFIG_CPU_CLK_528MHZ=y
CONFIG_BUS_SPEED_176MHZ=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT47H128M8=y
CONFIG_NANDFLASH=y
# CONFIG_USE_ON_DIE_ECC_SUPPORT is not set
CONFIG_DEBUG=y
CONFIG_SCLK=y
# CONFIG_ENTER_NWD is not set
CONFIG_PM_EXTERNAL_DEVICES=y
CONFIG_MAC0_PHY=y
CONFIG_MAC1_PHY=y
CONFIG_HDMI=y
CONFIG_WM8904=y
CONFIG_TWI0=y
CONFIG_TWI3=y
CONFIG_ACT8865=y
CONFIG_ACT8865_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT5=3300
CONFIG_VOLTAGE_OUT6=1800
CONFIG_LOAD_HW_INFO=y
CONFIG_LOAD_ONE_WIRE=y
CONFIG_ONE_WIRE_ON_PIOE=y
CONFIG_ONE_WIRE_PIN=28
CONFIG_BOARD_QUIRK_SAMA5D4=y
