# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA5D2=y
CONFIG_CRYSTAL_24_000MHZ=y
CONFIG_DEBUG=y
CONFIG_CONSOLE_INDEX=0
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W972GG6KB_D2=y
CONFIG_QSPI=y
CONFIG_QSPI_BUS=0
CONFIG_QSPI_IOSET=3
CONFIG_QSPI_4B_OPCODES=y
# CONFIG_ENTER_NWD is not set