# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_FLEXCOM1=y
CONFIG_FLEXCOM1_IOSET=4
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_PMIC_ON_TWI=0
CONFIG_VOLTAGE_OUT4=1150
CONFIG_WDTS=y
CONFIG_DDR_8_GBIT=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K512M16HA_125=y
CONFIG_MEM_CLOCK_533=y
