# Copyright (C) 2024 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6NB12I=y
CONFIG_MEM_CLOCK_533=y
CONFIG_SPI_CLK=100000000
CONFIG_QSPI_BUS=1
CONFIG_QSPI_DMA_SUPPORT=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_IMG_SIZE="0x00100000"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_LED_ON_BOARD=y
CONFIG_LED_R_ON_PIOD=y
CONFIG_LED_R_PIN=13
CONFIG_LED_G_ON_PIOD=y
CONFIG_LED_G_PIN=14
CONFIG_LED_B_ON_PIOB=y
CONFIG_LED_B_PIN=15
CONFIG_FLEXCOM10=y
CONFIG_FLEXCOM10_IOSET=2
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT1=3300
CONFIG_VOLTAGE_OUT2=1350
CONFIG_VOLTAGE_OUT3=1150
CONFIG_VOLTAGE_OUT4=1150
CONFIG_VOLTAGE_LDO1=1800
CONFIG_VOLTAGE_LDO2=1800
CONFIG_WDTS=y
