# Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7D65=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_CONSOLE_INDEX=19
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W634GU6NB12I=y
CONFIG_MEM_CLOCK_533=y
CONFIG_NANDFLASH=y
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_JUMP_ADDR="0x66f00000"

