# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_8_GBIT=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K512M16HA_125=y
CONFIG_MEM_CLOCK_533=y
CONFIG_SPI_CLK=100000000
CONFIG_AT91_QSPI_OCTAL=y
CONFIG_QSPI_4B_OPCODES=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_IMG_SIZE="0x000c0000"
CONFIG_JUMP_ADDR="0x66f00000"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_FLEXCOM1=y
CONFIG_FLEXCOM1_IOSET=4
CONFIG_WDTS=y
