# Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DEBUG=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W631GU6NB12I=y
CONFIG_MEM_CLOCK_533=y
CONFIG_NANDFLASH=y
CONFIG_JUMP_ADDR="0x66f00000"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_FLEXCOM1=y
CONFIG_FLEXCOM1_IOSET=4
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT4=1150
CONFIG_WDTS=y
