# Copyright (C) 2006 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA5D4=y
CONFIG_CRYSTAL_12_000MHZ=y
CONFIG_CPU_CLK_600MHZ=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT47H128M16=y
CONFIG_DDR_EXT_TEMP_RANGE=y
CONFIG_SDCARD=y
CONFIG_DEBUG=y
CONFIG_SCLK=y
# CONFIG_ENTER_NWD is not set
CONFIG_PM_EXTERNAL_DEVICES=y
CONFIG_MAC0_PHY=y
CONFIG_HDMI=y
CONFIG_TWI0=y
CONFIG_TWI3=y
CONFIG_ACT8865=y
CONFIG_ACT8865_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT5=3300
CONFIG_VOLTAGE_OUT6=1800
CONFIG_PMIC_ON_TWI=1
CONFIG_LOAD_HW_INFO=y
CONFIG_LOAD_EEPROM=y
CONFIG_EEPROM_ADDR=0x54
CONFIG_EEPROM_SIZE=256
CONFIG_BOARD_QUIRK_SAMA5D4=y
CONFIG_AT91_MCI1=y
