CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_1000MHZ=y
CONFIG_RAM_512MB=y
CONFIG_SDCARD=y
CONFIG_JUMP_ADDR="0x66f00000"
CONFIG_DEBUG=y
# CONFIG_MATRIX is not set
# CONFIG_ENTER_NWD is not set
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_MCP16502=y
CONFIG_WDTS=y
CONFIG_DDR_512_MBIT=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_MT41K256M16TW_107=y