CONFIG_SAMA5D2_XPLAINED=y
CONFIG_RAM_512MB=y
CONFIG_DDR3=y
CONFIG_SDCARD=y
CONFIG_LOAD_LINUX=y
CONFIG_IMAGE_NAME="zImage.cip"
CONFIG_JUMP_ADDR="0x26F00000"
CONFIG_SDHC1=y
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
CONFIG_ACT8865_SET_VOLTAGE=y
# CONFIG_DISABLE_ACT8865_I2C is not set
CONFIG_SUSPEND_ACT8945A_CHARGER=y
CONFIG_AES=y
CONFIG_SECURE=y
CONFIG_AES_KEY_SIZE_256=y
