CONFIG_SAMA5D2_XPLAINED=y
CONFIG_RAM_512MB=y
CONFIG_DDR3=y
CONFIG_QSPI=y
CONFIG_QSPI0_IOSET_3=y
CONFIG_QSPI_4B_OPCODES=y
CONFIG_IMG_ADDRESS="0x00040000"
CONFIG_DEBUG=y
# CONFIG_ENTER_NWD is not set
CONFIG_ACT8865_SET_VOLTAGE=y
# CONFIG_DISABLE_ACT8865_I2C is not set
CONFIG_SUSPEND_ACT8945A_CHARGER=y
