CONFIG_CORE9G25=y
CONFIG_RAM_128MB=y
CONFIG_NANDFLASH=y
ALLOW_NANDFLASH_RECOVERY=y
CONFIG_NANDFLASH_RECOVERY=y
CONFIG_DEBUG=y
CONFIG_THUMB=y
# CONFIG_SCLK is not set
# CONFIG_LOAD_ONE_WIRE is not set
