CONFIG_SAMA5D31_BEEAVE=y
CONFIG_BOARDNAME="sama5d31_beeave"
CONFIG_MACH_TYPE="9999"
CONFIG_LINK_ADDR="0x000000"
CONFIG_TOP_OF_MEMORY="0x310000"
CONFIG_CRYSTAL_12_000MHZ=y
CONFIG_CRYSTAL="CRYSTAL_12_000MHZ"
CONFIG_CPU_CLK_498MHZ=y
CONFIG_BUS_SPEED_166MHZ=y
# CONFIG_CPU_V7 is not set

#
# Memory selection
#
ALLOW_DATAFLASH=y
ALLOW_WITH_MMU=y
ALLOW_WITH_CACHE=y
ALLOW_WITH_DMA=y
ALLOW_KNOWN_RAM_CHIP_DEFINITION=y

CONFIG_DDRC=y
CONFIG_LPDDR1=y
CONFIG_RAM_CHIP_W948D2=y
CONFIG_RAM_32MB=y

#
# NAND/Flash selection
#
CONFIG_DATAFLASH=y
CONFIG_MEMORY="dataflash"

#
# SPI configuration
#
CONFIG_SPI_CLK=40000000
CONFIG_SMALL_DATAFLASH=y
# ALLOW_DATAFLASH_RECOVERY is not set
# CONFIG_DATAFLASH_LOAD_WITH_DMA is not set
ALLOW_BOOT_FROM_DATAFLASH_CS0=y
CONFIG_SPI_BOOT_CS0=y
CONFIG_CARD_SUFFIX=""
CONFIG_SPI_BOOT="AT91C_SPI_PCS0_DATAFLASH"

#
# SPI Flash
#
CONFIG_SET_PARAMS_SPI_FLASH=y

#
# Configured SPI FLash Parameters
#
CONFIG_SPI_FLASH_PARAMS_PAGES=8192
CONFIG_SPI_FLASH_PARAMS_PAGE_SIZE_IS_POWER2=y
CONFIG_BOOTSTRAP_MAXSIZE="65536"
CONFIG_PROJECT="dataflash"
CONFIG_BUILD_RELEASE=y
CONFIG_LOAD_1MB=y
CONFIG_IMG_ADDRESS="0x10000"
CONFIG_JUMP_ADDR="0x20000000"
CONFIG_IMG_SIZE="0x00100000"

#
# Application checked load support
#
CONFIG_CHECK_APPLICATION_LOAD=y
CONFIG_CHECK_APPLICATION_VALUE=0xECDEB1EF
CONFIG_CHECK_APPLICATION_VAL_ADDR_OFFSET=4

#
# LED debugging ...
#
CONFIG_BEEAVE_WITH_DEBUG_LEDS=y
# CONFIG_BEEAVE_DEBUG_LEDS_OFF is not set
CONFIG_BEEAVE_DEBUG_LEDS_ON=y
CONFIG_DISABLE_WATCHDOG=y
#
# Hardware Initialization Options
#
CONFIG_HW_INIT=y
CONFIG_USER_HW_INIT=y
